.singleArticle {
  display: flex;
  padding: 15px 14px 15px 19px;
  min-height: 140px;
  flex-direction: column;
  gap: 10px;

  &__baseInfo {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    @media (min-width: 540px) {
      flex-direction: row;
      gap: 0px;
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 30px;
    flex-shrink: 0;
    @media (min-width: 540px) {
      align-self: initial;
    }
  }

  &__user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
  }

  &__manage {
    display: flex;
    gap: 12px;
  }

  &__deleteButton {
    width: 78px;
    color: var(--color-error);
    border-color: var(--color-error);
  }

  &__editButton {
    width: 66px;
    color: var(--color-success);
    border-color: var(--color-success);
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 3px;
    @media (min-width: 540px) {
      flex-basis: 682px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }
}
