.formTitleUI {
  font-family: 'Roboto';
  font-weight: 500;
  color: var(--color-grey);
  font-size: 20px;
  line-height: 28px;
  max-height: var(--line-height-h5);
  max-width: 311px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
